﻿@model IEnumerable<ExcellentTaste.Models.Reservering>

@{
    ViewBag.Title = "Index";
}

<h2>Overzicht reserveringen</h2>

<p>
    @Html.ActionLink("Toevoegen", "Create", "Reservering", null, new { @class = "btn btn-primary btn-large" })
</p>
<div>
    <h4>Legenda</h4>
    <table id="legenda">
        <tr>
            <td><span class="glyphicon glyphicon-ok">Afgerond</span></td>
            <td><span class="glyphicon glyphicon-time">Afwachting</span></td>
            <td><span class="glyphicon glyphicon-record">Lopend</span></td>
        </tr>

    </table>


</div>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tijd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tafel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aantalPersonen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Klant.klantNaam)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @if (item.status == 0)
            {
                <span class="glyphicon glyphicon-ok">&nbsp;</span>
            }
            else if (item.status == 1 && item.datum > DateTime.Now)
            {
                <span class="glyphicon glyphicon-time">&nbsp;</span>
            }
            else
            {
                <span class="glyphicon glyphicon-record">&nbsp;</span>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tijd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tafel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aantalPersonen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Klant.klantNaam)
        </td>
        <td>
            @Html.ActionLink("Wijzig", "Edit", new { id = item.reserveringId }) |
            @Html.ActionLink("Details", "Details", new { id = item.reserveringId })
            @if (item.status == 1 && item.Bestelling.Count == 0)
            {
                <span>
                    | @Html.ActionLink("Verwijder", "Delete", new { id = item.reserveringId })
                </span>
            }
        </td>
    </tr>
    }

</table>
